@import "../mixins/mixins-master";
@import "fonts";

:root {
  --screen-xs-min: 385px;
  --screen-sm-min: 391px;
  --screen-md-min: 768px;
  --screen-lg-min: 1024px;
  --screen-xl-min: 1288px;
  --screen-xxl-min: 1700px;

  --Primary: #014799;
  --Primary-dark: #003870;
  --Primary-2: #4e83e6;
  --Primary-3: #b3d5fc;
  --Primary-4: #026dd9;
  --Yellow: #f9f95a;
  --red: #f95a5a;
  --White-Bg: #ededed;
  --Black: #1a1a1a;
  --Dark-Grey: #5a5a5a;
  --Dark-Grey-2: #6a6a6a;
  --Light-Grey: #c9c9c9;
  --White: #ffffff;

  --font-text: "sofia-pro", sans-serif;
  --font-titles: "sofia-pro", sans-serif;
  --font-accent: "Ekamai", sans-serif;


  --font__size_base: 16px;
  --font__line-height-body: 140%;
  --font__line-height-heading: 90%;

  --body-font-s: 1.4rem;
  --body-font-m: 1.6rem;
  --body-font-l: 1.8rem;
  --body-font-xl: 2rem;

  --subtitle-l: 1.8rem;
  --subtitle-xl: 2.2rem;

  --h1-font-size: 4.2rem;
  --h2-font-size: 4rem;
  --display-font-size: 10rem;

  --lp-block-gap__sm: 5.5rem;
  --lp-block-gap__md: 6rem;
  --lp-block-gap__lg: 8rem;
  --block-gap: var(--lp-block-gap__sm);
  @include md-up {
    --block-gap: var(--lp-block-gap__md);
  }
  @include lg-up {
    --block-gap: var(--lp-block-gap__lg);
  }

  --radius-m: 1.6rem;
  --radius-l: 2rem;
  --radius-xl: 2.7rem;
  --border-radius: var(--radius-m);
  @include lg-up {
    --border-radius: var(--radius-l);
  }

  --body-font: var(--body-font-m);
  --body-font-sm: var(--body-font-s);
  @include md-up {
    --body-font: var(--body-font-l);
    --body-font-sm: var(--body-font-m);
  }

  --lp-font-s: 1.4rem;
  --lp-font-s-lg: 1.6rem;
  --body-font-s: var(--lp-font-s);
  @include lg-up {
    --body-font-s: var(--lp-font-s-lg);
  }

  --lp-btn-font-sm: 1.8rem;
  --lp-btn-font-lg: 1.8rem;
  --btn-font: var(--lp-btn-font-sm);
  @include lg-up {
    --btn-font: var(--lp-btn-font-lg);
  }

  --h2_font-size-sm: 3.6rem;
  --h2_font-size-md: 4rem;
  --h2_font-size: var(--h2_font-size-sm);
  @include md-up {
    --h2_font-size: var(--h2_font-size-md);
  }

  --columns: 12;
}
